body{
  margin-top:105px;


}
h3{
  color: white;
}

.navbar{
  box-shadow:2px 2px 5px #3377ff ;
  opacity:0.9;
  background:#753F34; 
}
  .nav-item{
    font-size:1.6rem;
    padding-right:20px;
  }

.nav-item li a{
  border: 2px solid white;    
  
}
.nav-item:hover{
    border: 2px darkorange;
    background: darkorange;
    transition: all 0.3s ease-out;
  }
 



h3{
  text-decoration: none;
  font-size: 1.4em;
  font-style: ""
}
