.imgbg{
  
  background-image:  url(../img/BG2.jpg);
  background-attachment: fixed;
  background-image: cover;
  width: 100%;
  height: 700px;


}





.ourservices{
  padding: 100px 0px 60px;
  height: 700px;
}
.ourservices h1{
  font-size: 50px;
  font-weight: bold;
}
.rowsetting{
  margin: 80px 0px !important;
}

.imgsetting{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.fa-home{
  margin-top: 20px;
}
.fa-cc-visa{
  margin-top: 24px;
}
.fa-location-arrow{
 margin-top: 20px;
}